@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    margin-top: 50px;
    padding-top: 50px;
}

body {
    background-color: #ffefef;
}

header {
    text-align: center;
}

main {
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

.ourOffer {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

img {
    max-width: 350px;
}

.homePictures {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 50px 10px;
}

.description {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.description div {
    flex-basis: calc(50% - 10px);
    margin-top: 50px;
}

.food {
    display: flex;
    gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.food div {
    flex-basis: calc(50% - 10px);

}

footer {
    text-align: center;
    padding: 50px 30%;
}

button {
    background-color: #ffefef;
    border: none;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}